* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    color: #fff;
    padding: 25px; 
  }

  h1 {
    font-size: 200%;
  }
/* nagivatin links styling */
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }
  
  nav a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
  }
/* nagivatin link pseudo-element */
  nav a:hover {
    color: orange;
  }

/* main content of the page */

/* About section */
#about{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
}

#about img{
    margin: 20px;
    max-width: 50%;
    max-height: 50%;
    border-radius: 150px;
}  

#about p{
    margin:15px;
}

/* Works section */
#header_works{
    background-color: teal;
    padding: 20px;
    color: lightgray;;
    font-weight: bold;
    font-size: 150%;
}

#works{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

#works img {
    border-radius: 30px;
    border: 3px double gray;
}

#works img:hover{
    border: 3px solid darkcyan;
}

#first_work{
    padding: 20px;
    flex: 2 2 0;
    justify-content: center;
    text-align: center;
}

#other_works{
    padding: 20px;
    flex: 1 1 0;
    justify-content: center;
    text-align: center;
}

#other_works article{
    padding: 10px;
}

/* image elements in the main content */

#first_work img{
    max-width: 100%;
    max-height: 100%;
    min-width: 30%;
    min-height: 30%;
}

#other_works img{
    max-width: 60%;
    max-height: 60%;
    min-width: 20%;
    min-height: 20%;
}



