* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
}

:root{
    --fontweight: 300;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    color: #fff;
    padding: 25px; 
  }

  h1 {
    font-size: 200%;
  }
/* nagivatin links styling */
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }
  
  nav a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
  }
/* nagivatin link pseudo-element */
  nav a:hover {
    color: orange;
  }

/* main content of the page */

/* Section header style */
section h2{
    background-color: teal;
    padding: 20px;
    color: lightgray;;
    font-weight: bold;
    font-size: 150%;
}

/* About section */
#about{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: var(--fontweight);
}

#about img{
    margin: 20px;
    border-radius: 150px;
}  

#about p{
    margin:15px 200px;
    text-align: left;
}

/* Works section */

#works{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: var(--fontweight);
}

/* image elements in the works section */

#works img {
    border-radius: 30px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#first_work img{
    max-width: 100%;
    max-height: 100%;
    min-width: 30%;
    min-height: 30%;
}

#other_works img{
    max-width: 60%;
    max-height: 60%;
    min-width: 20%;
    min-height: 20%;
}

#works img:hover{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

/* non-image elements in the works section */

.work_description{
    font-size: 80%;
    padding: 5px 30px;
}

#first_work{
    padding: 20px;
    flex: 2 2 0;
    justify-content: center;
    text-align: center;
}

#other_works{
    padding: 20px;
    flex: 1 1 0;
    justify-content: center;
    text-align: center;
}

#other_works article{
    padding: 10px;
}

/* Contact section */

#contact_list{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: var(--fontweight);
}

#contact_list li{
    padding: 20px;
}

/* Footer */

footer{
    padding: 20px;
    font-weight: var(--fontweight);
}

/* Media Query */

/* Elements in about and works section stack vertically, make other works' image and 
padding around the profile descriptions smaller on tablet*/

@media screen and (max-width: 992px) {
    #about {
        flex-direction: column;
    }
    #about p{
        margin: 10px 100px;
        flex-direction: column;
    }
    #works {
        flex-direction: column;
    }
    #other_works{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #other_works img{
        max-width: 70%;
        max-height: 70%;
    }
}

/* Elements in header nav and footer stack vertically on mobile*/

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }
    #about p{
        margin: 15px;
        text-align: center;
    }
    #contact_list{
        flex-direction: column;
        align-items: center;
    }
    #contact_list li{
        padding: 5px;
    }
}